.jumbotron-fluid{
    background-color: #f4acb7;
    padding-top: 5%;
    padding-bottom: 5%;
}

body{
    background-color:#ffcad4;
}

nav{
    background-color: #f4acb7;
}
#intropic {
    height: 300px;
    width: 400px;
}